.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(black, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    div {
        fill: #fff;
        color: #fff;
    }
}